/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Mixin for elevation
@mixin elevations() {
  @for $elevation from 0 to 24 {
    .mat-elevation-z#{$elevation} {
       @include mat.elevation($elevation);
    }
  }
}

@include elevations();

html{
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$violet-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  color: var(--mat-sys-on-surface);
}

/* --------------------- Forms ---------------------------------------------------  */
mat-form-field.wide {
  width: 98%;
}

div.wide {
  width: 100%;
}

span.wide {
  width: 100%;
  display: inline-block;
}

mat-form-field.short {
  width: 30%;
}

div.short {
  width: 100%;
}

input.upper {
  text-transform: uppercase;
}

.mat-card {
  margin: 25px 25px 10px 25px;
}

.expansion-panel {
  margin: 10px 25px !important;
}

.right {
  text-align: right !important;

  div.mat-sort-header-container {
      justify-content: flex-end;
  }
}

.left {
  text-align: left !important;

  div.mat-sort-header-container {
      justify-content: flex-start;
  }
}

.center {
  text-align: center !important;
}

.mat-mdc-form-field-icon-suffix > mat-icon {
  padding: 10px 12px !important;
}