<app-operation-result *ngIf="oprRes" [dor]="oprRes"></app-operation-result>

<br/>

<!-- Search -->
<app-search-transaction 
    (search)="onSearch($event)" (csv)="onCsv($event)" (import)="onImport($event)">
</app-search-transaction>

<div>&nbsp;</div>

<!--Results table-->
<mat-card appearance="outlined" class="mat-card" *ngIf="showTable">
    <mat-card-content>
      <app-transaction-table></app-transaction-table>
    </mat-card-content>
</mat-card>

<!-- SPINNER - WAITING FOR RESULTS -->
<app-progress-undeterminate [showSpinner]="showSpinner"></app-progress-undeterminate>