<app-operation-result *ngIf="oprRes" [dor]="oprRes"></app-operation-result>

<!-- Search -->
<mat-expansion-panel [(expanded)]="isExpanded">
    <mat-expansion-panel-header>
      {{ 'Search transactions' | uppercase }}
    </mat-expansion-panel-header>
  
    <!-- Search form-->
    <app-search-transaction 
      (search)="onSearch($event)" (csv)="onCsv($event)" (import)="onImport($event)">
    </app-search-transaction>
</mat-expansion-panel>

<div>&nbsp;</div>

<!-- SPINNER - WAITING FOR RESULTS -->
<app-progress-undeterminate [showSpinner]="showSpinner"></app-progress-undeterminate>

<!--Results table-->
<!-- <mat-card appearance="outlined" *ngIf="showTable">
    <mat-card-content>
      <app-check-search-table (view)="onView($event)" (pdf)="onPdf($event)"></app-check-search-table>
    </mat-card-content>
</mat-card> -->
