<mat-toolbar class="sticky mat-elevation-z4">
    <mat-toolbar-row class="flex-container">
        <a [routerLink]="['']">
            <img src="../assets/images/logo.svg" alt="{{ 'Bank reporting' | uppercase}}"
                style="padding-top: 7px;" [ngClass]="isSmallScreen ? 'small-size' : 'normal-size'">
        </a>
        <span style="flex: auto;"></span>
        <button mat-icon-button [matMenuTriggerFor]="matUser"
            matTooltip="{{ 'Menu' | uppercase }}">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar> 

<router-outlet></router-outlet>

<mat-menu #matUser="matMenu">
     <a mat-menu-item [routerLink]="['']">
        <mat-icon fontSet="fa" fontIcon="fa-home" style="font-size:22px;"></mat-icon>
        <span style="padding: 0px 10px;">{{ 'Home' | uppercase }}</span>
    </a>
    <a mat-menu-item [routerLink]="['transactions']">
        <mat-icon fontSet="fa" fontIcon="fa-money" style="font-size:22px;"></mat-icon>
        <span style="padding: 0px 10px;">{{ 'Transactions' | uppercase }}</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item [routerLink]="['info']">
        <mat-icon fontSet="fa" fontIcon="fa-info" style="font-size:22px;"></mat-icon>
        <span style="padding: 0px 10px;">{{ 'Information' | uppercase }}</span>
    </a>
</mat-menu>