.menu-card {
    max-width: 320px;
}

.fxRowCenter {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 75px 100px;
    flex-wrap: wrap;
}

.img-link {
    cursor: pointer;
}