<!-- TABLE DIV -->
<div>
    <!-- DIV FOR GENERAL STYLING OF A TABLE-->
    <div class="mat-table-container">
      <table mat-table [dataSource]="dataSource" class="resTable" matSort>

         <!-- Partner column -->
        <ng-container matColumnDef="partnerName">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Partner' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.partnerName }}
          </td>
        </ng-container>
        <!-- Merchant column -->
        <ng-container matColumnDef="merchantName">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Merchant' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.merchantName }}
          </td>
        </ng-container>
        <!-- Debtor iban column -->
        <ng-container matColumnDef="debtorIban">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Debtor iban' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.debtorIban }}
          </td>
        </ng-container>
        <!-- Beneficiary iban column -->
        <ng-container matColumnDef="beneficiaryIban">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Beneficiary iban' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.beneficiaryIban }}
          </td>
        </ng-container>
         <!-- Create date column -->
        <ng-container matColumnDef="createDate">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Create date' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row" class="center">
            {{ row.createDate | date: 'MMM dd yyyy HH:mm' | uppercase }}
          </td>
        </ng-container>
         <!-- Amount column -->
        <ng-container matColumnDef="amount">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Amount' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row" class="right">
            {{ row.amount.toFixed(2) }} {{ row.idCcy}} {{ row.idDirection}}
          </td>
        </ng-container>
         <!-- External Id column -->
        <ng-container matColumnDef="externald">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'External Id' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.externalId | uppercase }}
          </td>
        </ng-container>
         <!-- Status column -->
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-sort-header class="center">
            {{ 'Status' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row" class="center">
             <mat-icon fontSet="fa" fontIcon="fa-check" inline matTooltip="{{ 'Successful' | uppercase }}" *ngIf="row.status"></mat-icon>
             <mat-icon fontSet="fa" fontIcon="fa-ban" inline matTooltip="{{ 'Not successful' | uppercase }}" *ngIf="!row.status"></mat-icon>
          </td>
        </ng-container>
  
        <!-- Angular Material render table commands-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  <!--SHOWN IN CASE OF NO RESULTS-->
  <div *ngIf="!hasResults">
    {{ 'No data' | uppercase }}
  </div>
  <!--DIV FOR PAGING-->
  <div>
    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageData.pageSize" [length]="total" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  </div>