<!-- TABLE DIV -->
<div>
    <!-- DIV FOR GENERAL STYLING OF A TABLE-->
    <div class="mat-table-container">
      <table mat-table [dataSource]="dataSource" class="resTable" matSort>

        <!-- Transaction column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef class="center">
            {{ 'Transactions' | uppercase }}
          </th>
          <td mat-cell *matCellDef="let row" class="flex-row">
            <span class="flex-item">Debtor&nbsp;&nbsp;<strong>{{ row.debtorIban }}</strong></span>
            <span class="flex-item">Beneficiary&nbsp;&nbsp;<strong>{{ row.beneficiaryIban }}</strong></span>
            <span class="flex-item">Date&nbsp;&nbsp;<strong>{{ row.createDate | date: 'MMM dd yyyy HH:mm' | uppercase }}</strong></span>
            <span class="flex-item">Amount&nbsp;&nbsp;<strong>{{ row.amount.toFixed(2) }} {{ row.idCcy}} {{ row.idDirection}}</strong></span>
            <span class="flex-item">External Id&nbsp;&nbsp;<strong>{{ row.externalId }}</strong></span>
            <span class="flex-item">Status&nbsp;&nbsp;<strong>{{ row.status ? 'Successful' : 'Not successful' }}</strong></span>
          </td>
        </ng-container>
  
        <!-- Angular Material render table commands-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  <!--SHOWN IN CASE OF NO RESULTS-->
  <div *ngIf="!hasResults">
    {{ 'No data' | uppercase }}
  </div>
  <!--DIV FOR PAGING-->
  <div>
    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="usersPageSize" (page)="onPageSizeChange($event)">
    </mat-paginator>
  </div>
  </div>