<div>
    <mat-card appearance="outlined" class="mat-card">
        <mat-card-header>
            <div mat-card-avatar class="icondiv">
                <mat-icon fontSet="fa" fontIcon="fa-exclamation-triangle"></mat-icon>
            </div>
            <mat-card-title>
                <strong>{{ 'An error ocurred' | uppercase }}</strong>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>An error ocurred during processing the request.
            </p>
        </mat-card-content>
    </mat-card>
</div>