<form [formGroup]=form *ngIf="srcModel" class="form-flex">
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>{{ 'Search transactions' | uppercase }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Partner -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Partner' | uppercase }}</mat-label>     
                <input type="text" [matAutocomplete]="auto1" matInput maxlength="100" 
                    formControlName="partnerName" [required]="isPartnerRequired"
                    #filterPartner (keyup)="onPartnerSearch(filterPartner.value)" />
                <mat-icon matSuffix inline fontIcon="fa-search" fontSet="far"></mat-icon>       
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onPartnerSelected($event.option.value)">
                    <mat-option *ngFor="let item of partners" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>{{ 'Search partner' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('partnerName')">{{ formErrorType('partnerName') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Merchant -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Merchant' | uppercase }}</mat-label>     
                <input type="text" [matAutocomplete]="auto2" matInput maxlength="100" 
                    formControlName="merchantName" [required]="isMerchantRequired"
                    #filterMerchant (keyup)="onMerchantSearch(filterMerchant.value)" />
                <mat-icon matSuffix inline fontIcon="fa-search" fontSet="far"></mat-icon>       
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onMerchantSelected($event.option.value)">
                    <mat-option *ngFor="let item of merchants" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>{{ 'Search merchant' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('merchantName')">{{ formErrorType('merchantName') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Create date from -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'From date' | uppercase }}</mat-label>
                <input matInput formControlName="createDateFrom" [matDatepicker]="picker1" 
                    maxlength="20" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-hint>{{ 'Enter from date' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('createDateFrom')">{{ formErrorType('createDateFrom') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Create date to -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'To date' | uppercase }}</mat-label>
                <input matInput formControlName="createDateTo" [matDatepicker]="picker2" 
                    maxlength="20" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-hint>{{ 'Enter to date' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('createDateTo')">{{ formErrorType('createDateTo') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Direction -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Direction' | uppercase }}</mat-label>
                <mat-select placeholder="{{ 'Direction' | uppercase }}"
                    formControlName="idDirection">
                    <mat-option [value]=null>
                    {{ 'Direction' | uppercase }}
                    </mat-option>
                    <mat-option  *ngFor="let obj of srcModel!.nomen!.nTransactionDirection" [value]="obj.value">
                    <span>{{ obj.description }}</span>
                    </mat-option>
                </mat-select>
                <mat-hint>{{ 'Choose direction' | uppercase }}</mat-hint>
            </mat-form-field>

            <!-- Amount from -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'From amount' | uppercase }}</mat-label>
                <input type="number" matInput formControlName="amountFrom" />
                <mat-hint>{{ 'Enter from amount' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('amountFrom')">{{ formErrorType('amountFrom') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Amount to -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'To amount' | uppercase }}</mat-label>
                <input type="number" matInput formControlName="amountTo" />
                <mat-hint>{{ 'Enter to amount' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('amountTo')">{{ formErrorType('amountTo') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Currency -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Currency' | uppercase }}</mat-label>
                <mat-select placeholder="{{ 'Currency' | uppercase }}"
                    formControlName="idCcy">
                    <mat-option [value]=null>
                    {{ 'Currency' | uppercase }}
                    </mat-option>
                    <mat-option  *ngFor="let obj of srcModel!.nomen!.nCurrency" [value]="obj.value">
                    <span>{{ obj.description }}</span>
                    </mat-option>
                </mat-select>
                <mat-hint>{{ 'Choose currency' | uppercase }}</mat-hint>
            </mat-form-field>

            <!-- Debtor iban -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Debtor iban' | uppercase }}</mat-label>
                <input type="text" matInput formControlName="debtorIban" maxlength="22" />
                <mat-hint>{{ 'Enter debtor iban' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('debtorIban')">{{ formErrorType('debtorIban') | uppercase }}</mat-error>
            </mat-form-field>
                
            <!-- Beneficiary iban -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'Beneficiary iban' | uppercase }}</mat-label>
                <input type="text" matInput formControlName="beneficiaryIban" maxlength="22" />
                <mat-hint>{{ 'Enter beneficiary iban' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('beneficiaryIban')">{{ formErrorType('beneficiaryIban') | uppercase }}</mat-error>
            </mat-form-field>

            <!-- Status -->
            <mat-checkbox class="flex-item" formControlName="status">{{ 'Success' | uppercase }}</mat-checkbox>
            
            <!-- External id -->
            <mat-form-field class="flex-item">
                <mat-label>{{ 'External id' | uppercase }}</mat-label>
                <input type="text" matInput formControlName="externalId" maxlength="50" />
                <mat-hint>{{ 'Enter external id' | uppercase }}</mat-hint>
                <mat-error *ngIf="formNotValid('externalId')">{{ formErrorType('externalId') | uppercase }}</mat-error>
            </mat-form-field>

            <br>
        </mat-card-content>
        <mat-card-actions>
            <!-- Reset -->
            <button mat-button type="button" color="accent" (click)="onReset()" *ngIf="!isSmallScreen">{{ 'Reset' | uppercase }}</button>
            <button mat-icon-button type="button" color="accent" (click)="onReset()" *ngIf="isSmallScreen"
                matTooltip="{{ 'Reset' | uppercase }}">
                <mat-icon fontSet="fa" inline fontIcon="fa-recycle"></mat-icon>
            </button>

            <span style="flex: auto;"></span>

            <!-- Import -->
            <button mat-icon-button type="button" color="primary" (click)="onBrowseFiles()" 
                matTooltip="{{ 'Import from XML' | uppercase }}">
                <mat-icon fontSet="fa" fontIcon="fa-upload" style="font-size: 24px;"></mat-icon>
                <input  type="file" #fileInput style="display: none;" (change)="importFile()" accept=".*xml" />
            </button>

            &nbsp;&nbsp;

            <!-- Csv-->
            <button mat-icon-button type="button" color="primary" (click)="onCsv()"
                matTooltip="{{ 'Export CSV' | uppercase }}">
                <mat-icon fontSet="fa" fontIcon="fa-download" style="font-size: 24px;"></mat-icon>
            </button>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <!-- Search -->
            <button mat-raised-button type="submit" color="primary" (click)="onSearch()">
                <mat-icon fontSet="fa" fontIcon="fa-search"></mat-icon>&nbsp;&nbsp;&nbsp;{{ 'Search' | uppercase }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>

